/* Стили для body */
body {
    background-color: #2b2b2b; /* Цвет фона всего body */
}

/* Стили для h1 */
h1 {
    color: #a8ac89; /* Цвет текста на h1 */
    text-align: center; /* Выравнивание текста на h1 */
    font-family: Lucida Sans Unicode;
    font-size: 30px;
}

/* Стили для кнопки */
.custom-button {
    background-color: #3c3f41; /* Цвет фона кнопки */
    color: #a8ac89; /* Цвет текста на кнопке */
    padding: 10px 20px; /* Внутренний отступ (верх/низ, лево/право) */
    font-size: 18px; /* Размер текста на кнопке */
    border: 2; /* Убрать границу кнопки */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход при изменении цвета */
    margin-right: 5px; /* Расстояние между кнопками */
    margin-left: 5px; /* Расстояние между кнопками */
}

.custom-button:hover {
    background-color: #c75450; /* Цвет фона кнопки при наведении курсора */
    color: #101010; /* Цвет текста на кнопке при наведении курсора */
}

.custom-button:active {
    background-color: #3c3f41; /* Цвет фона кнопки при активном состоянии */
    color: #a8ac89; /* Цвет текста на кнопке при активном состоянии */
    border: 1px solid white; /* Толщина и цвет рамки при активном состоянии */
}

#my-button {
    overflow: hidden;
    margin-top: 40px;
    justify-content: center; /* Выравнивание кнопок по центру горизонтально */
    display: flex;
}

/* Стили для тега <p> */
p {
    margin-top: 10px; /* Верхний отступ абзаца */
    margin-bottom: 10px; /* Нижний отступ абзаца */
    margin-left: 20px; /* Левый отступ абзаца */
    margin-right: 20px; /* Правый отступ абзаца */
}

.nav-conteiner {
    overflow: hidden;
    margin-top: 10px;
    justify-content: center; /* Выравнивание кнопок по центру горизонтально */
    display: flex;
}

.input-custom {
    background-color: #3c3f41; /* Цвет фона поля ввода */
    color: #a8ac89; /* Цвет текста на поле ввода */
    padding: 10px 20px; /* Внутренний отступ (верх/низ, лево/право) */
    font-size: 18px; /* Размер текста */
    border: 2; /* Убрать границу */
    transition: background-color 0.1s, color 0.1s; /* Плавный переход при изменении цвета */
    margin-right: 10px;
    margin-left: 10px;

}

.input-custom:focus {
    background-color: #a8ac89;
    color: #101010;
}

.p-text {
    font-family: Lucida Sans Unicode;
    color: #a8ac89; /* Цвет текста на кнопке */
    font-size: 18px; /* Размер текста на кнопке */
    margin-right: 20px;
    margin-left: 20px;
}

.container {
    display: flex;
    width: 100%;
}

.item {
    padding: 0;
    font-size: 40px;
    border: 3px solid red;
    min-height: 150px;


}
.item_left {
    width: 150px;

}
.item_center {
    flex-grow: 1;
}
.item_right {
    width: 150px;

}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  min-height: 50px;
  width: 33.33%;
  border: 1px solid #b9b9b9; /* Добавлено для наглядности */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4 {
  margin: 0; /* Убираем внешние отступы */
  text-align: center; /* Выравниваем по центру по горизонтали */
  line-height: inherit; /* Выравниваем по центру по вертикали */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lucida Sans Unicode;
  color: #a8ac89;
  font-size: 18px;
}

.cell_10 {
  flex: 0 0 10%;
  min-height: 50px;
  width: 10%;
  border: 1px solid #b9b9b9; /* Добавлено для наглядности */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #a8ac89;
    padding: 8px 8px;
    transition: 0.3s;
    text-align: center;
    font-size: 24px;
}

.pagination a.active {
    background: #c75450;
}

.pagination a:hover:not(.active) {
    background: #ccc;
}