<!DOCTYPE HTML>

<html>

<head>
<!--    <base href="/">-->
<!--    <link type="text/css" href="css/style.css" rel="stylesheet">-->
    <title>TennisScoreboard by Victor Smirnov</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

    <div class="container">
        <div class="item item_1">11</div>
        <div class="item item_2">22</div>
        <div class="item item_3">33</div>

    </div>

</body>

</html>