<!DOCTYPE HTML>

<html>

<head>
    <base href="/">
    <title>TennisScoreboard by Victor Smirnov</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
<h1>
    <p>Проект TennisScoreboard</p>
    <p>Табло теннисного матча</p>
</h1>

<div id="my-button">
    <button class="custom-button" onclick = "window.location.href = 'new-match';" title="Нажмите чтобы начать новый матч">Начать новый матч</button>
    <button class="custom-button" title="Нажмите чтобы посмотреть все матчи">Посмотреть все матчи</button>
</div>

</body>

</html>