<!DOCTYPE HTML>

<html>

<head>
    <base href="/">
    <title>TennisScoreboard by Victor Smirnov</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>

    <div class="container">
        <div class="item item_left" style="display: flex; justify-content: center; align-items: center;">
            <a href="/"><img src="images/ball.png" alt="Главная страница" height="100px" width="100px" title="Главная страница"></a>
        </div>
        <div class="item item_center">
            <h1>
                <p>Проект TennisScoreboard</p>
                <p>Табло теннисного матча</p>
            </h1>
        </div>
        <div class="item item_right"></div>
    </div>

    <div class="container">
        <div class="item item_left"></div>
        <div class="item item_center">

	        <div class="table">

              <div class="row">
                <div class="cell"><h4>игрок 1</h4></div>
                <div class="cell"></div>
                <div class="cell"><h4>игрок 2</h4></div>
              </div>

              <div class="row">
                <div class="cell"><h4>имя 1</h4></div>
                <div class="cell"></div>
                <div class="cell"><h4>имя 2</h4></div>
              </div>

              <div class="row">
                <div class="cell"><h4>0</h4></div>
                <div class="cell"><h4>матч</h4></div>
                <div class="cell"><h4>0</h4></div>
              </div>

              <div class="row">
                <div class="cell"><h4>0</h4></div>
                <div class="cell"><h4>1-й сет</h4></div>
                <div class="cell"><h4>0</h4></div>
              </div>

              <div class="row">
                <div class="cell"><h4>0</h4></div>
                <div class="cell"><h4>2-й сет</h4></div>
                <div class="cell"><h4>0</h4></div>
              </div>

              <div class="row">
                <div class="cell"><h4>0</h4></div>
                <div class="cell"><h4>3-й сет</h4></div>
                <div class="cell"><h4>0</h4></div>
              </div>

              <div class="row">
                <div class="cell"><h4>0</h4></div>
                <div class="cell"><h4>гейм</h4></div>
                <div class="cell"><h4>0</h4></div>
              </div>

              <div class="row">
                <div class="cell"><h4>0</h4></div>
                <div class="cell"><h4>очки гейма</h4></div>
                <div class="cell"><h4>0</h4></div>
              </div>

              <div class="row">
                <div class="cell">
                    <form action="/match-score" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="player_win_game" value="1">
                        <button class="custom-button" type="submit" title="Нажмите если игрок 1 выиграл текущее очко">игрок 1 выиграл текущее очко</button>
                    </form>
                </div>
                <div class="cell"></div>
                <div class="cell">
                    <form action="/match-score" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="player_win_game" value="2">
                        <button class="custom-button" type="submit" title="Нажмите если игрок 2 выиграл текущее очко">игрок 2 выиграл текущее очко</button>
                    </form>
                </div>
              </div>

            </div>

        </div>
        <div class="item item_right"></div>
    </div>

</body>

</html>